<h1>Carrito de Compras</h1>

<div>
  <a href="/products">Products</a>
</div>
<div>
  <a href="/carts/65178ec626aa339d88fda281/purchase">End Purchase</a>
</div>
<div>
  <a href="/logout">Log out</a>
</div>

{{#if cart}}
  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each cart.products}}
        <tr>
          <td>{{this.id.title}}</td>
          <td>${{this.id.price}}</td>
          <td>{{this.quantity}}</td>
          <td>${{this.total}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <p>Total del carrito: ${{totalCart}}</p>
{{else}}
  <p>No hay productos en el carrito.</p>
{{/if}}